# Note: This attribute file is for personal use only. 
# It does not impact the core functionality and can be safely ignored.

# 1. Ignore heavy frontend configuration and lock files
frontend/package-lock.json linguist-generated
frontend/package.json linguist-generated

# 2. Ignore the public folder assets
frontend/public/** linguist-vendored

# 3. Ignore images and styles so they don't add to the frontend byte count
frontend/src/images/** linguist-vendored
.css linguist-vendored
.svg linguist-vendored